{% extends 'base.html'%}
{% block title %}Choking{% endblock title %}
{% block body %}
<head>
    <style>
      .img-fluid rounded-start:hover{
        height:500px;
        width:500px;
        color:blue;
        transform: translateY(-10px);
      }
</style>
</head>
<div  style="margin-left:90px; margin-right:90px">
    <div class="alert alert-danger" role="alert">
        Choking occurs when an object or food becomes lodged in the throat or airway, blocking airflow. This can be life-threatening and requires immediate attention. Understanding how to recognize and respond to choking can save lives.
      </div>
<br> <h5 style="text-align:center;"> Signs of Choking </h5><br>
 <div class="d-flex justify-content-around">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        
        <div class="card-body text-primary">
          <h5 class="card-title">Mild Choking</h5>
          <p class="card-text">Coughing or gagging <br>
            Difficulty breathing or speaking</p>
        </div>
    </div>
        <div class="card border-danger mb-3" style="max-width: 18rem;">
            
            <div class="card-body text-danger">
              <h5 class="card-title">Severe Choking</h5>
              <p class="card-text">Inability to cough, speak, or breathe <br>
                Clutching the throat <br>
                Bluish skin color (cyanosis) <br>
                Loss of consciousness</p>
            </div>
          </div>
        </div>
<br><br> <h5 style="text-align:center;"> First Aid for Choking </h5><br>
<br>
<div class="d-flex justify-content-evenly">
<div style="padding:10px;">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://onlinesciencenotes.com/the-heimlich-maneuver/steps-in-heimlich-maneuver/" class="img-fluid rounded-start" alt="..." >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">For Conscious Adults and Children Over 1 Year:</h5>
              <p class="card-text"><b>Step 1: </b> Encourage the person to cough if they can. Coughing can help expel the object. <br>
                <b>Step 2:</b> If coughing doesn’t help, perform the Heimlich maneuver: <br>
                Stand behind the person. <br>
                Place your arms around their waist. <br>
                Place a fist above their navel and cover it with your other hand. <br>
                Deliver quick, inward, and upward thrusts. <br>
                <b>Step 3:</b> Call emergency services if the obstruction is not cleared or if the person loses consciousness.</p>
              
            </div>
          </div>
        </div>
      </div>
</div>

<div style="padding:10px;">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://images.ctfassets.net/6m9bd13t776q/4UYMq2ZeUNdvvyLspJ6lx4/328816ec5d95f2052e2b9d2a13a40428/Back_Blows_Edited_New.png?q=75" class="img-fluid rounded-start" alt="..." >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">For Infants Under 1 Year:</h5>
              <p class="card-text"><b>Step 1:</b> Place the infant face down on your forearm, supporting their head and neck. <br>
               <b>Step 2:</b> Give up to 5 firm back blows between the shoulder blades using the heel of your hand. <br>
               <b> Step 3:</b> If the object is not dislodged, turn the infant face up and give up to 5 chest thrusts using two fingers in the center of the chest. <br>
                <b>Step 4: </b>Call emergency services if the obstruction persists or the infant becomes unconscious.
              
            </div>
          </div>
        </div>
      </div>
</div>
</div>

<div>
    <br><br>
    <h4 style="text-align:center;">When to you Seek Medical Help</h4>
   <br>
   <div style="padding-left:100px;padding-right:100px;">
    <div class="alert alert-primary" role="alert">
        <b>Persistent Symptoms:</b>  If the person continues to have difficulty breathing or coughing after the object is expelled.
      </div>
      <div class="alert alert-success" role="alert">
        <b>Unconsciousness: </b> If the person becomes unconscious, call emergency services immediately.
      </div>
      <div class="alert alert-info" role="alert">
        <b>Injury or Trauma:</b>  If the person has sustained injury from the choking incident.
      </div>
      
    </div>
<br><br>
</div>


<br><br>
    <div>
       <h4 style="text-align:center;"> Prevention Tips </h4>
       <br>
       <div class="row text-center mb-5">
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-body">
                    <i class="fas fa-eye card-icon text-primary mb-3"></i>
                    <h5 class="card-title">Proper Eating Habits</h5>
                    <p class="card-text">Chew food thoroughly and avoid talking or laughing while eating.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-body">
                    <i class="fas fa-phone-alt card-icon text-warning mb-3"></i>
                    <h5 class="card-title">Avoiding Choking Hazards</h5>
                    <p class="card-text">Keep small objects and food items that could pose a choking risk away from young children.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-body">
                    <i class="fas fa-hands-helping card-icon text-success mb-3"></i>
                    <h5 class="card-title">First Aid Training</h5>
                    <p class="card-text"> Take a first aid course to learn proper techniques for dealing with choking and other emergencies.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <br><br>
    <div>
        <h4 style="text-align:center;"> FAQS </h4>
        <div style="border:2px solid blue;padding:20px;border-radius:20px;">
            <b>What should I do if the Heimlich maneuver doesn’t work?</b><br>
            <p> Continue the Heimlich maneuver and seek emergency medical help immediately.</p> <br>
            <b>Can choking happen with liquids?</b><br>
            <p>Yes, choking can occur if liquids are inhaled into the airway. Follow the same steps for treatment and seek medical help if necessary.</p> <br>
            <b>Is it safe to perform the Heimlich maneuver on pregnant women?</b><br>
            <p> Yes, perform chest thrusts instead of abdominal thrusts. Place your hands higher on the chest and avoid pressing on the abdomen.</p> <br>

        </div>
    </div>
    <br><br><br>
</div>




{% endblock body %}